@page "/table"
@attribute [TabItemOption(Text = "Table")]
<PageTitle>Table</PageTitle>

<h1>Table - 固定标签页</h1>

<Table TItem="Foo" IsPagination="true" PageItemsSource="PageItemsSource" class="table-demo"
       IsStriped="true" IsBordered="true" ShowSkeleton="true" IsMultipleSelect="true"
       ShowToolbar="true" ShowSearch="true" ShowExtendButtons="true"
       AutoGenerateColumns="false" EditMode="EditMode.InCell">

    <TableColumns>
        <TableColumn @bind-Field="@context.Name" Text="姓名-Readonly=true" Readonly="true" />
        <TableColumn @bind-Field="@context.Address" Text="地址-未设置Filterable" />
@*         <TableColumn @bind-Field="@context.Hobby" Items="GetHobbys(context)" /> *@
    </TableColumns>
</Table>
